@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  --header-color: #991b1b;
  --font-color: #fef2f2;
  --side-color: #dc2626;
  --main-color: #e7e5e4;
  --button-color: #fef2f2;
}

body {
  font-family: sans-serif;
  background-color: var(--main-color);
  font-family: "Arvo", serif;
  color: var(--font-color);
}

header {
  padding: 1.6em;
  background-color: var(--header-color);
}

h2 {
  margin-bottom: 0.5em;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.side {
  background-color: var(--side-color);
}

#projects-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#content {
  grid-column: span 2;
}

label {
  display: block;
}

input {
  display: block;
}

.hide {
  display: none;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 1em;
}

#add-project-form {
  margin-top: 0.7em;
}

button {
  margin: 0em 0.6em;
  padding: 0.5em;
  background-color: var(--button-color);
  color: var(--header-color);
  border: none;
  border-radius: 5px;
  font-family: "Arvo", serif;
  cursor: pointer;
  border: 1px solid var(--header-color);
}

#add-project-btn-form {
  width: 10em;
  font-size: 1.2rem;
}
.task-completed {
  text-decoration: line-through;
}

.side,
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 2em;
}

#content {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 2em 4em;
}

.side button {
  display: block;
  margin: auto;
}
.side li,
h3 {
  text-align: left;
}

input {
  margin: 0.5em;
  padding: 0.4em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

.display-due-date {
  margin: 1em 0;
  text-align: left;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lower-opacity {
  opacity: 50%;
  pointer-events: none;
}

#content {
  color: var(--header-color);
}

.item-div {
  padding: 0em 1em 0.5em 1em;
  background-color: var(--header-color);
  border-radius: 5px;
}

.side h3 {
  margin-bottom: 0.5em;
}

@media (max-width: 850px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 850px) {
  .side {
    height: 100vh;
  }
}
